---
http_interactions:
- request:
    method: get
    uri: https://api.tierion.com/v1/datastores
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - me@garrettqmartin.com
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":305,"key":"-kcKbjj0OkKGjitNu3TmXA","name":"Transactions","groupName":"","redirectEnabled":false,"redirectUrl":null,"emailNotificationEnabled":true,"emailNotificationAddress":"me@garrettqmartin.com","postDataEnabled":false,"postDataUrl":null,"postReceiptEnabled":false,"postReceiptUrl":"http://42e222ee.ngrok.com/new_receipt","timestamp":1448991629}]'
  recorded_at: Thu, 17 Dec 2015 19:28:49 GMT
- request:
    method: post
    uri: https://api.tierion.com/v1/records
    body:
      encoding: UTF-8
      string: '{"datastoreId":305,"account_transaction_id":142,"amount":10000}'
    headers:
      X-Username:
      - me@garrettqmartin.com
      X-Api-Key:
      - baWu6yg5MUL4vA4uRZbmM7mHo1OGc0UtzJbrv2AJvf4=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":"nh9n_e9tnEa8WuDaxcPntQ","accountId":923,"datastoreId":305,"status":"queued","data":{"account_transaction_id":"142","amount":"10000"},"json":"{\"account_transaction_id\":\"142\",\"amount\":\"10000\"}","sha256":"68feebd284c8a9cd5bbf02840f3df268ed30c83077645643bc3f73528447f721","timestamp":1450380529}'
  recorded_at: Thu, 17 Dec 2015 19:28:49 GMT
recorded_with: VCR 3.0.0
