---
http_interactions:
- request:
    method: post
    uri: https://api.tierion.com/v1/datastores
    body:
      encoding: UTF-8
      string: '{"name":"Transactions"}'
    headers:
      X-Username:
      - me@garrettqmartin.com
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.tierion.com/v1/Datastores/319
    body:
      encoding: UTF-8
      string: '{"id":319,"key":"T_b00jtkI0-yRPrBecmH6w","name":"Transactions","groupName":"","redirectEnabled":false,"redirectUrl":null,"emailNotificationEnabled":false,"emailNotificationAddress":null,"postDataEnabled":false,"postDataUrl":null,"postReceiptEnabled":false,"postReceiptUrl":null,"timestamp":1450384250}'
  recorded_at: Thu, 17 Dec 2015 20:30:49 GMT
- request:
    method: get
    uri: https://api.tierion.com/v1/datastores
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - me@garrettqmartin.com
      X-Api-Key:
      - baWu6yg5MUL4vA4uRZbmM7mHo1OGc0UtzJbrv2AJvf4=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":305,"key":"-kcKbjj0OkKGjitNu3TmXA","name":"Transactions1","groupName":"","redirectEnabled":false,"redirectUrl":null,"emailNotificationEnabled":true,"emailNotificationAddress":"me@garrettqmartin.com","postDataEnabled":false,"postDataUrl":null,"postReceiptEnabled":false,"postReceiptUrl":"http://42e222ee.ngrok.com/new_receipt","timestamp":1448991629},{"id":319,"key":"T_b00jtkI0-yRPrBecmH6w","name":"Transactions","groupName":"","redirectEnabled":false,"redirectUrl":null,"emailNotificationEnabled":false,"emailNotificationAddress":null,"postDataEnabled":false,"postDataUrl":null,"postReceiptEnabled":false,"postReceiptUrl":null,"timestamp":1450384250}]'
  recorded_at: Thu, 17 Dec 2015 20:30:50 GMT
- request:
    method: delete
    uri: https://api.tierion.com/v1/datastores/319
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Username:
      - me@garrettqmartin.com
      X-Api-Key:
      - baWu6yg5MUL4vA4uRZbmM7mHo1OGc0UtzJbrv2AJvf4=
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":319,"key":"T_b00jtkI0-yRPrBecmH6w","name":"Transactions","groupName":"","redirectEnabled":false,"redirectUrl":null,"emailNotificationEnabled":false,"emailNotificationAddress":null,"postDataEnabled":false,"postDataUrl":null,"postReceiptEnabled":false,"postReceiptUrl":null,"timestamp":1450384250}'
  recorded_at: Thu, 17 Dec 2015 20:30:50 GMT
recorded_with: VCR 3.0.0
